@media only screen and (max-width: 768px) {
    header nav .flexSB {
        display: none;
    }
    .account {
        display: none;
    }
    .navMenu-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #e50813;
        width: 50%;
        height: 100vh;
        z-index: 9999;
    }
    header ul li {
        align-items: left;
        margin-top: 30px;
        padding: 0 50px;
    }
    .toggle {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
        margin: auto;
        cursor: pointer;
        background: none;
    }}